@font-face {
    font-family: 'Noto Serif';
    src: url('./assets/noto-serif.ttf') format('truetype');
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    background-color: rgb(50, 50, 50);
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    opacity: 1;
    font-family: 'Noto Serif';
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    background-color: rgba(255, 255, 255, 0.7);
}

button:hover {
    background-color: rgba(200, 200, 200, 0.7);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.base {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.5;
}

.title-style {
    text-shadow: 5px 5px 5px black;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: white;
}