.inputContainer {
  margin-top: 80px;
  height: 350px;
  overflow-y: auto;

  display: flex;
  justify-content: center;
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 50px 200px;                        
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

.inputLabel {
  font-size: 20px;
  color: white;
}

.inputGroup input {
  padding: 8px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  width: 350px;
  height: 25px;
}

.inputGroup select {
  appearance: none;            
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 40px 8px 8px;  
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  width: 368px;
  height: 42px;
  font-size: 14px;
  cursor: pointer;

  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

