.inputContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  overflow-y: auto;

  display: flex;
  justify-content: center;
}

.inputGrid {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(2, 1fr); 
  gap: 50px 200px;                        
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

.inputLabel {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 2px rgb(50, 50, 50);
}

.inputStyle {
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(50, 50, 50);;
}

.inputGroup input {
  padding: 8px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  width: 350px;
  height: 25px;
}

.actionContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.submit-btn {
  padding: 12px 24px;
  cursor: pointer;
  background-color: #002d03;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.submit-btn:disabled {
  background-color: #002d03;
  cursor: not-allowed;
}

.progressWrapper {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.progressBarContainer {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progressBarFill {
  height: 100%;
  background-color: #002d03;
  transition: width 0.3s ease-in-out;
}

.loadingText {
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(50, 50, 50);
  font-style: italic;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.inputGroup select {
  appearance: none;            
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 40px 8px 8px;  
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  width: 368px;
  height: 42px;
  font-size: 14px;
  cursor: pointer;

  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.required {
    color: red;
}

.back-btn {
  padding: 10px 20px;
  background-color: #666;
  color: white;
  border: none;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #555;
}