body {
  display: block;
}

#root {
  min-height: 100vh;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputSubTitle {
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 3px 3px 3px rgb(50, 50, 50);
}