html, body {
    margin: 0;
    padding: 0;
    background-color: green;
}

body {
    display: block;
}

#root {
    min-height: 100vh;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 55px;
  color: white;
  margin: 10px 0 10px 0;
}

.line {
  width: 550px;
  height: 1px;
  background-color: white;
}
