#welcome-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  gap: 20px
}

#welcome-page-greeting {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  text-shadow: 5px 5px 5px black;
}

#welcome-page-title {
  font-size: 70px;
  font-weight: 500;
  margin: 0;
  text-shadow: 5px 5px 5px black;
}

#welcome-page-horizontal-line {
  width: 100%;
  height: 2px;
  background-color: white;
}

#welcome-page-div-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 20px;
  width: 280px;
  height: 90px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s ease;
}

#welcome-page-div-button:hover {
  background-color: rgba(200, 200, 200, 0.7);
}

#welcome-page-div-button-text {
  color: black;
  font-size: 30px;
}

#welcome-page-div-button-img {
  height: 50%;
}